<h1 id="title">GLOBAL NEWS: DEVELOPING</h1>

<!-- move to controller -->

<% term = "News & Politics" %>
<% my_vids = @vid.get_youtube_id_array("florida #{term}") %>

<%= button_tag "My video", class: "yt_button", list_position: "", yt_id: @vid.get_youtube_id_array("Phone #{term}"), now_playing: false, type: "button" %>

<%= button_tag "Next video", class: "next_button", list_position:"", num_vids: my_vids.length, type: "button" %>

<%= button_tag "Previous video", class: "prev_button", list_position:"", num_vids: my_vids.length, type: "button" %>



<select id="country_selection" onchange="loadVideo();">
	<% country = ["United States", "Canada", "Mexico"] %>
	<% for i in 0...country.length %>
		<option value= "<%= country[i] %>" ><%= country[i] %></option>
	<% end %>
</select>

<div id="youtube_player">
	<div id="ytplayer_div"></div>
</div>

<!--
<div id="login-container" class="pre-auth">This application requires access to your YouTube account.
  Please <a href="#" id="login-link">authorize</a> to continue.
</div>
-->
<div id="buttons">
      <label> 
      	<input id="query" value='cats' type="text"/>
      	<button id="search-button" onclick="find_vids()">Search</button>
      </label>
</div>
<div id="results">

</div>
<div id="search-container">
</div>


<%= debug(params) if Rails.env.development? %>
